body{
  display: grid;
  grid-template-areas:
      "nav nav"
      "header header"
      "main aside"
      "footer footer";
  grid-template-rows: auto auto 4fr 1fr;
  background-color: #366D54;
  margin: 0px;

}

nav {
  grid-area: nav;
  grid-template-columns: auto;
  background-color: #143D6A;
}

.nav-list{
  display: flex;
  justify-content: space-around;
}

header {
  grid-area: header;
  grid-template-columns: auto;
  height: 90vh;
  background-color: cyan;
  background-image: url("Assets/Feather-design.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  grid-area: main;
  grid-template-columns: 2fr;
  background-color: #366D54;
  color: white;
}

aside {
  grid-area: aside;
  grid-template-columns: 1fr;
  background-color: #BE6226;
  color: white;
}

footer {
  grid-area: footer;
  grid-template-columns: auto;    
  background-color: #143D6A;
  color: white;
}

.navbar ul {
  list-style-type: none;
  background-color: #143D6A;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}

.navbar a:hover {
  background-color: #345171;
}

.navbar a:active {
  color: #5B7797;
}

.navbar li {
  font-size: 1.5em;
}

.navbar a {
  padding-top: 25px;
  padding-bottom: 23.5px;
}
